/* Default CSS Start */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}

/* Default CSS END */
/* Common shared Style Start */
.primary-color {
  color: #fd6e0a;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin: 30px 0;
}
/* Common shared Style End */
/* Nav Design Start */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 110px;
}
.nav-title {
  color: #181818;
  font-family: Open Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav li:last-child {
  margin-right: 0;
}
nav a {
  font-size: 18px;
  text-decoration: none;
  color: #474747;
}
.primary-btn {
  border-radius: 5px;
  background-color: #fd6e0a;
  border: none;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  line-height: normal;
  padding: 18px 35px;
  text-decoration: none;
}
/* Nav Design End */
/* header section start */
header {
  background-color: #fff8f3;
  background-image: url(https://github.com/HalimurRoshid/my-portfolio-with-html-and-css/blob/main/images/header_bg.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  position: relative;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 30px 0 120px;
}
.developer-img {
  background-image: url(/images/developer.png);
  position: absolute;
  top: 10px;
  left: 0;
}
/* .banner-content {
  width: 70%;
} */
.banner-greeting {
  color: #474747;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0px;
}
.banner-heading {
  color: #181818;
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 5px;
}
.banner-description {
  max-width: 585px;
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 15px;
}
/* header section end */
/* Main section start */
/* Main section end */
/* About Section Start */
.about,
.what-i-do {
  padding: 130px;
  background-color: #fff8f3;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.info-header {
  color: #757575;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
.info-description {
  color: #474747;

  font-size: 20px;

  font-weight: 700;
  line-height: 30px;
}
/* About Section End */
/* What I do section start */
.what-i-do {
  padding: 30px 150px;
}
.skill-row {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.skills {
  width: 25%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  border-radius: 10px;
}
.skill-title {
  text-align: center;
  margin: 10px 0;
  color: #181818;
}
.skill-description {
  color: #757575;
  line-height: 1.5;
}
/* What I do section End */
/* Footer section start */
footer {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding: 30px 130px;
  gap: 100px;
}
.footer-column {
  width: 50%;
}
.footer-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 30px;
}
.social-link-container {
  text-align: center;
}
.social-link {
  color: #fd6e0a;
  font-size: 30px;

  margin-right: 20px;
}
.contact-input,
textarea {
  display: block;
  margin-bottom: 25px;
  padding: 18px 35px;
  color: #757575;
  border: none;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
/* Footer section end */
